<h2>設定</h2>

<div class="Show_Edit_Main">
  <div class="Show_Edit_Header">
    <h3>プロフィール</h3>
    <%= link_to "編集", edit_user_path, method: :get %>
  </div>
  <div class="ShowItem">
    <label>アイコン画像</label>
    <%= image_tag @user.icon_image.url, :size => '70x70' %>
  </div>
  <div class="ShowItem">
    <label>名前</label>
    <p><%= @user.name %></p>
  </div>

  <div class="ShowHeader">
    <h3>アカウント</h3>
    <%= link_to "編集", edit_user_registration_path, method: :get %>
  </div>
  <div class="ShowItem">
    <label>メールアドレス</label>
    <p><%= @user.email %></p>
  </div>
  <div class="ShowItem">
    <label>パスワード</label>
    <p>*********</p>
  </div>

</div>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

